<!DOCTYPE html>
<html>
<head>
	<title>Designed</title>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular.min.js"></script>
	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular-animate.js"></script>
	<link rel="stylesheet" type="text/css" href="css/styles.css">

	<!-- <script src="npm_modules/angular-auto-validate/dist/jcs-auto-validate.min.js"></script> -->
</head>
<body ng-app="designApp" ng-controller="designCtrl">
	<header>
		<div id="header-container">
			<div class="logo" id="main-logo">
				logo
			</div>
			<h1 id="product-name">Product</h1>
		</div>
	</header>

	<h1 class="title">Enter diagnostic information here:</h1>

	<div id="entry-container">

		<!-- landscape -->
		<div ng-class="{'onFocusATM': setActive.inputs}" ng-form name="inputs" class="entry show" id="inputFieldCollector">
			<div class="form-feild left" >
				<div ng-repeat="feild in inputFields" ng-if="$index % 2 === 0" >
					<p class="feild">{{feild}}:</p>
					<input ng-focus="setActivityTrue('inputs')" type="text" ng-model="info" ng-change="aquInfo(feild,info)" required>
				</div>
			</div>
			<div class="form-feild right">
				<div ng-repeat="feild in inputFields" ng-if="$index % 2 !== 0">				
					<p class="feild">{{feild}}:</p>
					<input ng-focus="setActivityTrue('inputs')" type="text" ng-model="info" ng-change="aquInfo(feild,info)" required>
				</div>
			</div>
		</div>
		
		<!-- portrait -->
<!-- 		<div ng-class="{'onFocusATM':setActive.inputsHidden}" ng-form name="inputsHidden" class="entry hidden" id="inputFieldCollector">
			<div class="form-feild left" >
				<div ng-repeat="feild in inputFields">
					<p class="feild">{{feild}}:</p>
					<input ng-focus="setActivityTrue('inputsHidden')" type="text" ng-model="info" ng-change="aquInfo(feild,info)" required>
				</div>
			</div>
		</div> -->

		<!-- modal -->
		<div ng-class="{'disableBackground': modalActive}" class="modal-cover">

			<div class="cube" ng-class="{'translate':hoverEdit}">
  				<div class="a" ng-click="hoverIn()" ng-class="{'threeD':hoverEdit,'disabled': activeForm.$invalid}" >
  					<p>ENTER</p>
  				</div>
  				<div class="a b" ng-click="setActivityFalse()" ng-class="{'threeE':hoverEdit}">
  					<p>ARE YOU SURE?</p>
  				</div>
			</div>   
		</div>

		<!-- portrait -->
<!-- 		<div ng-class="{'onFocusATM': setActive.radioHidden}" class="entry hidden" ng-form name="radioHidden" id="radioFieldCollector">
			<div class="form-feild left">
				<div class="elaborate" ng-class="{'wideAF': activeForm.$name == 'radioHidden'}"  ng-repeat="rfeild in radioFields">
					<div>
						<p class="feild">{{rfeild}}</p>
							<div class="input-flex">
								<p>
									Yes 
									<input ng-focus="setActivityTrue('radioHidden')" id="yes" type="radio" ng-model="rtrue" ng-value="true" ng-change="aquInfo(rfeild,rtrue)" required>
								</p>						 
								<p>
									No
									<input ng-focus="setActivityTrue('radioHidden')" id="no" type="radio" ng-model="rtrue" ng-value="false" required>
								</p>
							</div>
					</div>
					<div ng-switch="rtrue">
						<div class="switch" ng-switch-when="false">
							<p>Please elaborate:</p>
							<input ng-model="rdisc" ng-change="aquInfo(rfeild,rdisc)" required>
						</div>
					</div>
				</div>
			</div>
		</div> -->
		<!-- landscape -->
		<div ng-class="{'onFocusATM': setActive.radio}" class="entry show" ng-form name="radio" id="radioFieldCollector">
			<div class="form-feild left">
				<div class="elaborate" ng-class="{'wideAF': activeForm.$name == 'radio'}"  ng-repeat="rfeild in radioFields" ng-if="$index %2 === 0">
					<p class="feild">{{rfeild}}</p>
						<div class="input-flex">
							<p>
								Yes 
								<input ng-focus="setActivityTrue('radio')" id="yes" type="radio" ng-model="rtrue" ng-value="true" ng-change="aquInfo(rfeild,rtrue)" required>
							</p>						 
							<p>
								No
								<input ng-focus="setActivityTrue('radio')" id="no" type="radio" ng-model="rtrue" ng-value="false" required>
							</p>
						</div>
					<div ng-switch="rtrue">
						<div class="switch" ng-switch-when="false">
							<p>Please elaborate:</p>
							<input ng-model="rdisc" ng-change="aquInfo(rfeild,rdisc)" required>
						</div>
					</div>
				</div>
			</div>
			<div class="form-feild right">
				<div class="elaborate" ng-repeat="rfeild in radioFields" ng-if="$index % 2 !== 0">
					<p class="feild">{{rfeild}}</p>
						<div class="input-flex">
							<p>
								Yes 
								<input ng-focus="setActivityTrue('radio')" id="yes" type="radio" ng-model="rtrue" ng-value="true" ng-change="aquInfo(rfeild,rtrue)" required>
							</p>						 
							<p>
								No
								<input ng-focus="setActivityTrue('radio')" id="no" type="radio" ng-model="rtrue" ng-value="false" required>
							</p>
						</div>
					<div ng-switch="rtrue">
						<div class="switch" ng-switch-when="false">
							<p>Please elaborate:</p>
							<input ng-model="rdisc" ng-change="aquInfo(rfeild,rdisc)" required>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>

	<div class="answers">
		<h1 id="answers-title">Entered Feilds:</h1>
		<ul id="answers-list">	
			<li ng-repeat="(feild,answer) in dispInfo()">{{feild}}: {{answer}}</li>
		</ul>
	</div>

	<script src="modules/designApp.js"></script>
	<script src="controllers/designCtrl.js"></script>
	<script src="directives/designDir.js"></script>
	<script src="services/designServ.js"></script>
	<script src="filters/designFilt.js"></script>
</body>
</html>