<!DOCTYPE html>
<html>
<head>
	<title>First Angular Application</title>
	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular.min.js"></script>
	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular-animate.js"></script>
	<style>
	/*you can assign classes based on statuses*/
	/*
	ng-empty
	ng-not-empty
	ng-touched
	ng-untouched
	ng-valid
	ng-invalid
	ng-dirty
	ng-pending
	ng-pristine

	*/

		.ng-invalid {
			color: red;
		}

		.ng-touched {
			color: blue;
		}

		.ng-valid {
			color: green;
		}
	</style>
</head>
<!-- only one module per page at a time, otherwise whole page will break -->
<!-- body is owner of angular "application" -->
<!-- can be other elements as well -->
<body ng-app="myApp">
	<!-- "ng" is the signifier of a directive-->
	
	<div ng-controller="myCtrl">
		<p>Age: <input type="text" ng-model="age"></p>
		<p>Sex: <input type="text" ng-model="sex"></p>
		<p>Location <input type="" ng-model="location"></p>

		<!-- you can filter expressions with the pipe function -->
		<p>ASL: {{age | currency}}/{{sex | lowercase }}/{{location}}</p>
	</div>

	<div>
		<!-- ng-model creates a variable and binds it to value of input -->
		<!-- only valid within parent div -->
		<p>Name: <input type="text" ng-model="name"/></p>
		<!-- binds innerhtml to variable named below -->
		<p ng-bind="name"></p>
		<!-- valid anywhere in file -->
		<div ng-init="firstname = 'John'">
		<p>The name is: <span ng-bind="firstname"></span></p>
		<!-- expressions can exist regardless of application scope d -->
		<p>Result of expression: {{ 5 + 5 }} </p>
		<!-- <p>ASL: {{age}}/{{sex}}/{{location}}</p> -->
	</div>

	<div ng-controller="myCtrl">
		<input type="text" ng-model="filterInput">
		<ul>
			<!-- you can also filter in the declaration -->
			<!-- filter or limitTo both work -->
			<!-- apply filter to the variable not the declaration-->
			<li ng-repeat="u in usernames">
				{{ u | myFilter }}
			</li>
		</ul>
	</div>

	<test></test>
	<!-- or <div test></div> -->
	<!-- or <div class='test'></div> (add restrict: 'C' to return object) -->
	<!-- or comment saying "directive: test" (add restrict: 'M', replace: true to return object)-->
	<!-- other restrictions: EA (element/attribute) default  -->

	<!-- models can perform validations on the input -->
	<form name="myForm">
		<input type="email" name="myAddress" ng-model="text" required>
		<span ng-show="myForm.myAddress.$error.email">Not a valid email address</span>
		<br>
		Status: <br>
		<!-- no errors -->
		Valid: {{myForm.myAddress.$valid}}
		<br>
		<!--  -->
		Dirty: {{myForm.myAddress.$dirty}}
		<br>
		Touched: {{myForm.myAddress.$touched}}
	</form>

	<button ng-controller="myCtrl" ng-click="changeText()">{{pressStatus}}</button>

	<!-- things have to be children of the same element to be affected by changes by the model to controller values-->
	<div ng-controller="myCtrl">
		<button ng-disabled="mySwitch">Clickable</button>
		<input type="checkbox" ng-model="mySwitch">
	</div>

	<p ng-controller="myCtrl">Controller says: {{displayInfo()}}</p>

	<p>The app's color is <span id="app-color">{{color}}</span></p>

	<div ng-controller="myCtrl">
		<p>The controller's color is <span id="ctrl-color">{{color}}</span></p>
	</div>

	<p ng-controller="myCtrl"> locale: {{locale}}</p>

	<!-- modules and controllers can either be on same page or in own files -->
	<!-- Don't use arrow functions -->
	<script src="modules/myApp.js"></script>
	<script src="controllers/myCtrl.js"></script>
	<script src="directives/myDirs.js"></script>
	<script src="services/myServ.js"></script>
	<script src="filters/myFilt.js"></script>

</body>
</html>